table{
    margin: auto;
    border: 4px dotted;
    background-color:transparent;
    text-align: center;
    color: gray;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    
}
body{
    background-color:indianred;
    padding: 50px;
    padding-left: 500px;
    padding-right: 500px;
       
}

#h1{

    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: white;
}

#h2{

    background-color: white;
    text-align: center;
}

#div1{

    background-color:grey;
    text-align: justify;
    
}
li{
    color:white;
    font-family:arial;
    padding-bottom: 10px;
}