table{
    margin: auto;
    border: 4px dotted;
    background-color:transparent;
    text-align: center;
    color: gray;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    
}
body{
    background-image: url("imagenes/fondo_login.jpg");
    background-size: cover;
   
    
    
    
}